<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDar2RNVcLiESWFER9pabc5LP3SfIYQqdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>721202848931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>varsha.itinAI-Project</string>
	<key>PROJECT_ID</key>
	<string>itinai</string>
	<key>STORAGE_BUCKET</key>
	<string>itinai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721202848931:ios:ea250f8a6eaafde62f8b16</string>
</dict>
</plist>